* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 
  header {
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
    color: darkviolet;
   
  }

  body {
    background: url('imagenes/fondo.jpg') no-repeat;
    background-size: cover;
    
  }  

  .box {
    width: 1500px;
    background: rgba(0, 0, 0, .4);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    color: white;
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
    /* box-shadow: 7px 13px 37px black; */
    
  }
  
  .box-img {
    border-radius: 40%;
  }
  
  
  .box h1 {
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
    color: darkviolet;
   
  }
  
  .box h2 {
    font-size: 30px;
    letter-spacing: 3px;
    color:dodgerblue;
    font-weight: 100;
    margin-bottom: 30px
    
  }
  .box h3 {
    text-align: justify;
    font-size: 30px;
    letter-spacing: 3px;
    color:mediumblue;
    font-weight: 100;
    margin-bottom: 30px
    
  }
  .box article {
    text-align: justify;
    font-size: 30px;
    letter-spacing: 3px;
    color:mediumblue;
    font-weight: 100;
    margin-bottom: 30px
  }
  
  .box p {
    text-align: justify;
    letter-spacing: 3px;
    color:white;
  }
  
  

  aside {
    width: 10%;
    height:500px;
    padding: 10px;
   float: right;
   margin-right: 10px;
   }

  footer {
    text-align: justify;
    letter-spacing: 3px;
    width: 3000px;
    min-height:50px;
    
  }
  

  
  